<div style="width: 100%;height: 100%;padding: 15px;">
	<div style="display: flex;align-items: center;justify-content: space-between;">
		<div>
			<h3>All Posts</h3>
			<p>Create, edit, and manage the Posts of your site.</p>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<div>
			<div class="dropdown">
				<button data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle" type="button" aria-expanded="false" style="padding: 5px 20px; border-radius: 5px;border:1px solid rgba(0,0,0,0.25)">
					<i class="fa-solid fa-filter" style="margin-right: 10px;"></i>Filter Posts
				</button>
				<ul class="dropdown-menu">
					<% if(allModels) { for(let i=0; i< allModels.length; i++) { %>
						<li><a class="dropdown-item" href="/manage/all-posts?filterbymodel=<%= allModels[i].modelName %>"><%= allModels[i].modelName %></a></li>
					<% } } %>
				</ul>
			</div>
		</div>
	</div>
	<table class="table table-striped">
		<thead style="border-bottom: 2px solid #d8d8d8;">
		  <tr>
			<th>
				<div style="display: flex; align-items: center; justify-content: start;">
					<h3 style="font-weight: 600;font-size: 16px;">Posts</h3>  
				</div>
			</th>
			<th>
				<div style="display: flex; align-items: center; justify-content: end;">
					<span style="background-color: #315BC1;color: #fff;padding: 7px 16px;font-size: 13x;font-weight: 600;cursor: pointer;" onclick="handleAddNewPost()">Add New Post</span>
				</div>
			</th>
		  </tr>
		</thead>
		<tbody>	

			<% allPosts.forEach(post => { %>
				<tr class="page-tr">
					<td colspan="2">
						<div>
							<span style="font-weight: 600;"><%= post.postName %></span>
							<div>
								<span style="display: inline-block;padding:1px 8px;cursor: pointer;color: green;font-size: 14px; font-weight: 600;background-color: rgba(185, 216, 185, 0.329);" onclick="editPost('<%= post.postName %>')">Edit</span>
								<span style="display: inline-block;padding:1px 8px;cursor: pointer;color: maroon;font-size: 14px; font-weight: 600;background-color:rgba(255, 0, 0, 0.082);" onclick="deletePost('<%= post.postName %>', '<%= post._id %>')">Delete</span>
							</div>
						</div>
					</td>
				</tr>
	
			<% }) %>
		</tbody>
	  </table>
</div>




<script>
function handleAddNewPost() {
    window.location.href = "/manage/render-add-post";
} 
function editPost(postName){
    window.location.href = `/manage/render-post?postname=${encodeURIComponent(postName)}`;
}
function deletePost(postName, postId){
	Swal.fire({
			title: 'Do you want to delete this post?',
			showDenyButton: true,
			showCancelButton: false,
			confirmButtonText: 'Delete',
			denyButtonText: 'Cancel',
			customClass: {
				actions: 'my-actions',
				cancelButton: 'order-1 right-gap',
				confirmButton: 'order-2',
			},
	}).then((result) => {
		if (result.isConfirmed) {
			fetch("/manage/remove-post", {
				method:"POST",
				headers:{
					"Content-Type":"application/json"
				},
				body:JSON.stringify({postName, postId})
			}).then(()=>{
				window.location.reload();
			})
		} else if (result.isDenied) {
			Swal.fire('Changes are not saved', '', 'info')
		}
	})
}
</script>